{{> header}}
  <!-- Background image -->
  <div class="p-5 text-center bg-image" style="
      background-image: url('https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.freepik.com%2Ffree-photos-vectors%2Fbackground&psig=AOvVaw0xxoos_K7WL-p3p3-U8Qiq&ust=1669876812739000&source=images&cd=vfe&ved=0CA0QjRxqFwoTCJi7z4em1fsCFQAAAAAdAAAAABAI');
      background-repeat: no-repeat;
      background-size: cover;
      height: 550px;
    ">
    <div class="mask" style="background-color: rgba(0, 0, 0, 0.6);">
      <div class="d-flex justify-content-center align-items-center py-5">
        <div class="text-white">
          <h1 class="mb-3">Welcome</h1>
        </div>
      </div>
    </div>
  </div>
  <!-- Background image -->
{{> footer}}